<form method="post" action="/spaces/add">
  <h1>Add a lovely space</h1>
  <input type="text" name="name" placeholder="space name" />
  <br>
  <input type="text" name="description" placeholder="enter description" />
  <br>
  <input type="text" name="price" placeholder="enter price" />
  <br>
  <input type="submit" value="Add lovely space" />
</form>
