<html>
  <head>
    <link rel="stylesheet" href="/css/style.css">
  </head>
</html>
<form method="post" action="/spaces/add">
  <h1>Add a lovely space</h1>
  <input type="text" name="name" placeholder="space name" />
  <input type="text" name="description" placeholder="enter description" />
  <input type="text" name="price" placeholder="enter price" />
  <input type="date" name="available_from" placeholder="available from" />
  <input type="date" name="available_to" placeholder="available to" />
  <input type="submit" value="list space" />
</form>
