<form method="post" action="/spaces">
  <h1>Add a lovely space</h1>
  <input type="text" name="Space name" placeholder="space name" />
  <br>
  <input type="text" name="Description" placeholder="enter description" />
  <br>
  <input type="text" name="Price" placeholder="enter price" />
  <br>
  <input type="submit" value="Add lovely space" />
</form>
