<html>
<head>
</head>

<h1>Lovely Spaces!</h1>
<ul>
  <% @spaces.each do |space| %>
    <li class='space_item'><%= space.name %>
    <%= space.description %>
    £<%= space.price %>
    </li>
  <% end %>
</ul>

<form action='/spaces/add'>
  <input type='submit' value='list space'/>
</form>

</html>