<html>
<head>
    <link rel="stylesheet" href="/css/style.css">
</head>
  <body>

    <div class='topnav'>
      <h1><a href="spaces">MakersBnB</a></h1>
    </div>

    <div class='box-2' style='
                width: 700px;
                height: 80%;
                overflow: auto;
                text-align:justify;'>
    
      <% @spaces.each do |space| %>

          <div class='space-details-box-2'>
            <h3><%= space.name %> ~ £<%= space.price %> / night <h3>
            <p><%= space.description %><p>
            
            <form action="/spaces/<%= space.id %>"> 
              <input class='small-button' type='submit' value='book space'/>
            </form>
          </div>

      <% end %>
      <form action='/spaces/add'>
      <input class='standard-button' type='submit' value='list space'/>
      </form>
    </div>
  </body>
</html>