<html>
  <head>
    <link rel="stylesheet" href="/css/style.css">
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Monoton&display=swap');
    </style>
  </head>
  <body>
    
    <div class='topnav'>
      <h1><a href="spaces">MakersBnB</a></h1>
    </div>

      <form class='box' action="/login" method="POST">
        <h1>Log in</h1>
        <input class='standard-input' type ="text", name="username", placeholder="username">
        <input class='standard-input' type ="password", name="password", placeholder="password">
        <input class='standard-button' type ="submit", value="Sign in">
      
    </form>
  </body>
</html>